body {
margin: 0;
padding: 0;
font-family: sans-serif;


}

header {
    background-color: darkblue;
    width: 100%;
    color: antiquewhite;
}



.quote {
    background-color: lightgrey;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: none;
    margin: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}


.logo {
    font-weight: bold;
    font-size: x-large;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
}

.nav-links {
    display: flex;
    gap: 15px;
    margin: 0;
    font-size: small;
}



.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 10vw;
}


.header {
    max-width: 40%;
}



.header-button {
    background-color: dodgerblue;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
}


.header-img {
    background-color: #6b7280;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}

.header-title {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}


.header-body {
    font-size: 1.1rem;
    color: #d1d5db;
    margin-bottom: 20px;
}


.box {
    border: 2px, solid, dodgerblue;
    height: 125px;
    width: 125px;
    border-radius: 10px;
}

.infosect-title {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

.infosect-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}


.text   {
    max-width: 125px;
    color: rgb(158, 158, 158);
    font-size: 0.75rem;
    padding-top: 5px;
    padding-bottom: 80px;
}



.quote {
    font-style: italic;
    font-weight: 100;
    color: #4a4b4b;
    text-align: center;
    max-width: 50vw;
    font-size: 1.5rem;
}

.quote-container {
    display: flex;
    justify-content: center;
    background-color: lightgray;

    padding-top: 60px;
    padding-bottom: 60px;
}


.quote-author {
    font-style: normal;
    font-weight: bold;

    text-align: end;
}



footer {
    padding: 40px 0;
}

.footer-container {
    background-color: dodgerblue;
    color: antiquewhite;
    padding: 30px 50px;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    max-width: 70%;
}

.footer-title {
    margin: 0;
}

.footer-body {
    margin: 5px 0 0;
    font-size: 0.95rem;
    color: #a8b7d3; /* light gray */
  }

  .footer-button {
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .footer-button a {
    color: white;
    text-decoration: none;
  }